body{
    background: #ccc;
}
#title{
    text-align: center;
}
#img-div{
    text-align: center;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    background-color: white;
   
}
#img-div img{
    width: 70%;
    margin: 0 auto;
    display: block;
    height: 500px !important;
}
#tribute-info{
    text-align: center;
}

.contain-body{
    max-width: 700px;
    margin: 0 auto;
}
.contain-body ul{
    margin: 0;
    padding: 0;
}
#tribute{
    text-align: center;
    margin: 15px auto !;
}